.tabsContainer {
    width: 100%;
}

.tabList {
    display: flex;
    border-bottom: 1px solid var(--border);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    /* smooth scrolling on iOS */
    padding-bottom: 1px;
    /* prevent border clip */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tabList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tabList {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.tabButton {
    padding: 0.75rem 0;
    background: none;
    border: none;
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--secondary);
    cursor: pointer;
    position: relative;
    transition: color 0.2s ease;
}

.tabButton:hover {
    color: var(--primary);
}

.active {
    color: var(--primary);
    font-weight: 600;
}

.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--primary);
    border-radius: 2px 2px 0 0;
}

.tabContent {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}